<a href="https://colab.research.google.com/github/alfredojavier55/Exploratory_Analisys/blob/master/tutorial_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x=10
y=20
print("A soma vale:", x+y)

A soma vale: 30

# PANDAS

# Oi sou Alfredo

### É a biblioteca mais popular para lidar com dados em Ciência de Dados.
### Possui duas coleções: a) `Series` e b) `DataFrame`.

# Importando a biblioteca PANDAS

In [ ]:
import pandas as pd

# `Series`

### Características:

*   É uma **lista**.
*   Diferentemente de vetores (*arrays*) e/ou listas convencionais, `Series` suporta customização dos índices.

### Criação de `Series` com índices padrão (*default*)

A criação é realizada através do comando `pd.Series()`.

Exemplo:

In [ ]:
s = pd.Series ([10, 20, 30, 40, 50])

### Exibição de uma `Series`

In [ ]:
print (s)

Partes:

*   Coluna à esquerda -> índice
*   Coluna à direita -> valores
*   Última linha -> tipo de dados (`dtype`)

### Acessar a um elemento

In [ ]:
print (s[2])

### Criação de uma `Series` com valores iguais

In [ ]:
pd.Series (9.7, range(4))

### Estatísticas para uma `Series`

Funções:

*   `count`
*   `mean`
*   `min`
*   `max`
*   `std`

Exemplos:

In [ ]:
print (s)

In [ ]:
s.count()

In [ ]:
s.mean()

In [ ]:
s.min()

In [ ]:
s.max()

In [ ]:
s.std()

As funções de estatística podem ser resumidas com `describe()`

In [ ]:
s.describe()

### Criação de índices customizados

*   `Series` não tem o nome de uma coluna.
*   Porém, é possível nomear os índices (*index*).

Exemplo:

In [ ]:
s_custom = pd.Series ([10, 20, 30], index=['1a dezena', '2a dezena', '3a dezena'])

In [ ]:
print (s_custom)

É possível acessar os elementos individualmente de várias formas:

In [ ]:
print (s_custom[2])

In [ ]:
print (s_custom['3a dezena'])

### Como seria possível criar uma `Series` com duas colunas?

In [ ]:
pd.Series ([10, 20, 30, 40], [15, 25, 35, 45])

# `DataFrame`

### Características:


*   Estrutura bidimensional.
*   É uma **tabela**.
*   Cada coluna de um `DataFrame` é uma `Series`.
*   Cada coluna pode ser de um tipo diferente.

### Criação um `DataFrame` a partir de um dicionário.

Exemplo 1:

In [ ]:
dic1 = {'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'SIGLA': ['AM', 'AP', 'AC'], 'CAPITAL': ['Manaus', 'Macapá', 'Rio Branco']}

In [ ]:
pd.DataFrame(dic1)

Exemplo 2:

In [ ]:
pd.DataFrame({'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'POPULACAO': ['4144597', '845731', '881935']})

### Construtor DataFrame

```
pd.DataFrame()
```

É a forma padrão de se construir um novo `DataFrame`.

Sintaxe:


*   É um dicionário.
*   As chaves do dicionário são as colunas.
*   Os valores são a lista de entrada.

### Características do construtor:

*   O construtor do tipo `DataFrame` atribui valores sequenciais.
*   Estes valores são conhecidos como índices (*index*).
*   Porém, é possível personalizar (customizar) os valores dos índices.

### Customização do índice:

Exemplo:

In [ ]:
dic2 = pd.DataFrame({'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 
              'POPULACAO': ['4144597', '845731', '881935']},
             index=['AM', 'AP', 'AC'])

In [ ]:
dic2

### Acessando elementos do `DataFrame`

Exemplo 1:

In [ ]:
dic2['ESTADO']

Exemplo 2:

In [ ]:
dic2.ESTADO

### Seria possível criar um DataFrame com quantidades de linhas diferentes por coluna?

In [ ]:
pd.DataFrame({'ESTADO': ['Amazonas', 'Amapá', 'Acre'], 'POPULACAO': ['4144597', '881935']})

# Leitura de arquivos

### Características gerais sobre a leitura de arquivos:



*   Na prática, iremos trabalhar com dados já existentes.
*   Existem vários formatos de arquivos.
*   O formato CSV é um dos formatos mais comuns.
*   Um arquivo CSV é uma tabela cujos valores estão separados por vírgulas (*Comma-Separated Values*).

### Leitura de arquivos CSV em Pandas como um `DataFrame`:

Comando padrão:

`pd.read_csv()`

Exemplo:

In [ ]:
dados = pd.read_csv("http://tiagodemelo.info/datasets/dados-curso.csv")

### Atributo `shape` 

Permite verificar o tamanho dos dados.

Exemplo:

In [ ]:
dados.shape

### Comando `head`

Podemos ter uma noção do conjunto de dados.

Exemplo:

In [ ]:
dados.head()

### Manipulação de dados

Pandas possui uma série de recursos que permite manipular os dados no formato de `DataFrame`.

In [ ]:
dados

### As propriedades de um objeto podem ser acessadas como um atributo:

Exemplo 1:

In [ ]:
dados.lugar

Exemplo 2:

In [ ]:
dados['lugar']

Exemplo 3:

In [ ]:
dados['lugar'][0]

# Indexação em Pandas

### Seleção baseada em índices

#### Seleção de dados baseada na posição numérica dos dados.

### Selecionar a primeira linha

Exemplo 1:

In [ ]:
dados.iloc[0]

Exemplo 2:

In [ ]:
dados.iloc[:,1]

Exemplo 3:

In [ ]:
dados.iloc[-5:]

Exemplo 5:

In [ ]:
dados.loc[0, 'pais']

# Manipulação de índices

### É possível fazer a indexação dados por um atributo.

### Exemplo:

In [ ]:
dados.set_index('pais')

# Seleção condicional

É possível consultar os dados de acordo com algum critério (condição)

Exemplo:

In [ ]:
dados.sigla == 'BR'

### Essa operação pode ser usado em combinação `loc`

In [ ]:
dados.loc[dados.sigla == 'BR']

# Funções de Sumário (*Summary*)

### `describe()` é a função que apresenta um conjunto de estatísticas sobre um determinado campo (coluna).

Exemplo 1:

In [ ]:
dados.retweet.describe()

### A função `describe()` ainda pode ser utilizada para campos não numéricos

Exemplo 1:

In [ ]:
dados.sigla.describe()

Exemplo 2:

In [ ]:
dados.data.describe()

### É possível ainda usar uma função de estatística específica para um determinado campo

In [ ]:
dados.retweet.mean()

### A função `unique()` apresenta os valores únicos

In [ ]:
dados.sigla.unique()

Exemplo:

In [ ]:
dados.sigla.value_counts()

#Agrupamento de dados

### Função `groupby()`

Exemplo 1:

In [ ]:
dados.groupby('sigla')

Exemplo 2:

In [ ]:
dados.groupby('sigla').sigla

Exemplo 3:

In [ ]:
dados.groupby('sigla').sigla.count()

### A função `groupby` pode ainda ser usada para exibir outro campo

In [ ]:
dados.groupby('sigla').retweet.max()

#Ordenação de dados

### A função `sort_values()` pode ser usada para ordenar os valores por um determinado campo

In [ ]:
dados.sort_values(by='sigla')

### A ordenação padrão é de forma ascendente. Porém, é possível ordenar de maneira descendente

In [ ]:
dados.sort_values(by='sigla', ascending=False)

### A ordenação por índices é feita através da função `sort_index()`

In [ ]:
dados.sort_index()

### A ordenação ainda pode ser feita por mais de um campo ao mesmo tempo

In [ ]:
dados.sort_values(by=['pais', 'lugar'])

# Tipo de dados em `DataFrame` e `Series`

### Para verificar o tipo de um dado em Python nós usamos o comando `type`

In [ ]:
type(dados)

### Para verificarmos o tipo de dados de uma coluna de um `DataFrame` ou `Series` em Python nós usamos o comando `dtype`

In [ ]:
dados.retweet.dtype

In [ ]:
dados.idioma.dtype

### Nós podemos ainda verificar o tipo de dados de todas as colunas de um `DataFrame`

In [ ]:
dados.dtypes

### É possível ainda converter o tipo de uma determinada coluna para outro tipo

Exemplo 1:

In [ ]:
dados.retweet

Exemplo 2:

In [ ]:
dados.retweet.astype('float64')

### Seria possível converter uma coluna para qualquer outro tipo de dados?

In [ ]:
dados.sigla.astype('float64')

### Resumo dos tipos em Pandas:

![](https://drive.google.com/uc?export=view&id=1l2SH97T_0Lu7VIInFzkc31HUbSep37g6)

### Lidando com dados ausentes

Regras gerais:

*   Os dados ausentes são presentados pelo valor `NaN` que representa Not a Number.
*   Por razões técnicas, os valores `NaN` são sempre do tipo `float64`.
*   Pandas possui alguns métodos específicos para lidar com dados ausentes.

### O comando `pd.isnull()` é utilizado para selecionar as entradas ausentes

In [ ]:
dados[pd.isnull(dados.sigla)]

### Substituição de valores ausentes

### A função `fillna()` é usada para substituir valores ausentes

In [ ]:
dados.sigla.fillna("PADRAO")

### É possível ainda fazer a substituição de um valor específico por outro através do comando `replace`

In [ ]:
dados.sigla.replace('BR', 'BZ')

# Formatação dos dados

### Regras gerais:

*   É comum ocorrer a situação onde os dados não estão com nomes apropriados.
*   Neste caso, podemos usar um conjunto de funções de Pandas para formatar `DataFrame` ou `Series`.

### É possível renomear as colunas e índices através do comando `rename()`

In [ ]:
#@title
dados.rename(columns={'sigla': 'codigo'})

# Plotar Mapas

### Projeto GeoPandas

*   Projeto código aberto para lidar com dados espaciais em Python.
*   Versão atual é a 0.8.0.
*   Permite a realização de operações espaciais.

### Instalar a biblioteca

In [ ]:
!pip install geopandas

### Importar as bibliotecas

In [ ]:
from shapely.geometry import Point
import geopandas as gpd
from geopandas import GeoDataFrame

### Carregar o arquivo com os dados

In [ ]:
dados = pd.read_csv("http://tiagodemelo.info/datasets/dados-curso.csv")

In [ ]:
dados.head()

### Plotar a posição dos usuários no mapa

In [ ]:
geometry = [Point(xy) for xy in zip(dados['latitude'], dados['longitude'])]
gdf = GeoDataFrame(dados, geometry=geometry)   

world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
gdf.plot(ax=world.plot(figsize=(10, 6)), marker='o', color='red', markersize=15);

#Visualização dos Dados

##MatPlotLib

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'nome':['João','Maria','Pedro','José','Lucas','Luíza','Francisco'],
    'idade':[23,78,22,19,45,33,20],
    'genero':['M','F','M','M','M','F','M'],
    'estado':['Amazonas','Pará','Amazonas','Pará','Amazonas','Ceará','Ceará'],
    'num_filhos':[2,0,0,3,2,1,4],
    'num_animais':[5,1,0,5,2,2,3]
})

In [ ]:
df.head()

### Scatter Plot

É o gráfico de dispersão.

Exemplo 1:

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

df.plot(kind='scatter', x='num_filhos',y='num_animais')
plt.show()

### Configurações diversas dos gráficos

##### Cores


*   O atributo `color` ou `c` é usado para definir as cores.
*   As cores estão em inglês.
*   [Lista completa de cores](https://matplotlib.org/3.1.0/gallery/color/named_colors.html)

##### Transparência


*   O atributo `alpha` define a transparência dos objetos.

##### Marcadores


*   É possível alterar o marcador através do atributo `marker`.
*   [Lista completa de marcadores](https://matplotlib.org/api/markers_api.html)
*   É possível também alterar o tamanho do marcador através do atributo `s`.

##### Rótulos (labels) dos eixos


*   O comando `xlabel` é usado para renomear o eixo X do gráfico.
*   O comando `ylabel` é usado para renomear o eixo Y do gráfico.
*   Esses comandos permitem alterar o tamanho da fonte através do atributo `fontsize`.

Exemplo 2:

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

df.plot(kind='scatter', x='num_filhos', y='num_animais', color='red', alpha=0.2, marker='*', s=90)
plt.xlabel('Número de Filhos', fontsize=12)
plt.ylabel('Número de Animais', fontsize=16)
plt.show()

### Bar Plot

É o gráfico de barras.

Exemplo 1:

In [ ]:
df.plot(kind='bar',x='nome',y='idade')

##### Outras configurações:

*   É possível usar os mesmos atributos do gráfico anterior.
*   O atributo `label` permite renomear a legenda.
*   O atributo `loc` permite mudar a posição da legenda no gráfico.
*   [Lista completa com os posicionamentos da legenda.](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.legend.html)

Exemplo 2:

In [ ]:
df.plot(kind='bar', x='nome', y='idade', color = 'red', label='Age')
plt.legend(loc='upper left')

### Line Plot

É o gráfico de linhas.

Exemplo 1:

In [ ]:
# gca stands for 'get current axis'
ax = plt.gca()

df.plot(kind='line',x='nome',y='num_filhos',ax=ax)
df.plot(kind='line',x='nome',y='num_animais', color='red', ax=ax)

plt.show()

### Gráfico de barras agrupado

É possível agrupar os dados no gráfico de barras.

Exemplo 1:

In [ ]:
df.groupby('estado')['nome'].nunique().plot(kind='bar')
plt.show()

### Pie (gráfico de pizza)

É o gráfico de pizza.

In [ ]:
df.plot.pie(y='num_animais')

### Salvar o arquivo

Usar o comando `plt.savefig(<nome do arquivo>)`

In [ ]:
df.plot(kind='bar', x='nome', y='idade')
plt.savefig('grafico.png')